:root {
	--primary: #2958ff;
	--secondary: #3846a6;
	--ternary: #ffd900;
	--white: #ffffff;
	--whitev2: #f1f1f1;
	--black: #000000;
	--blackv2: #000002;
	--grey: #202031;
	--teal: #007070;
}

/* solution-listing-starts */
.solution-listing-card {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.solution-listing-wrap .sec-title {
	max-width: 690px;
	margin: 0 auto;
	text-align: center;
}

.solution-listing-card .solution-card {
	max-width: 430px;
	margin: 0 auto;
	background-color: var(--whitev2);
	border-radius: 10px;
}

.solution-card .card-title {
	text-align: center;
	padding: 40px;
	background-color: var(--whitev2);
	border-radius: 10px;
}

.solution-card .listing {
	padding: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 4px;
}

.solution-card .listing li {
	display: flex;
	align-items: center;
	padding: 20px 40px;
	background: var(--white);
	border-radius: 5px;
	column-gap: 20px;
	transition: all 0.3s ease-in-out;
	border: 2px solid transparent;
}

.solution-card .listing li:is(:hover, :focus, :active) {
	border-color: var(--primary);
}

/* solution-listing-ends */

/* stats-sec-ends */

/* services-sec-starts */
.black-gradient-bg {
	background: rgb(1, 3, 6);
	background: -moz-linear-gradient(
		180deg,
		rgba(1, 3, 6, 1) 0%,
		rgba(9, 41, 66, 1) 100%
	);
	background: -webkit-linear-gradient(
		180deg,
		rgba(1, 3, 6, 1) 0%,
		rgba(9, 41, 66, 1) 100%
	);
	background: linear-gradient(
		180deg,
		rgba(1, 3, 6, 1) 0%,
		rgba(9, 41, 66, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010306",endColorstr="#092942",GradientType=1);
}

.services-list .services-card {
	padding: 30px;
	background-color: var(--grey);
	color: var(--white);
	border-radius: 10px;
	max-width: 765px;
	margin: 0 auto;
}

.services-list .services-card .icon {
	width: 61px;
	height: 61px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--black);
}

.services-list .services-card .content {
	margin-top: 30px;
}

.services-list .services-card .title {
	color: var(--white);
	margin-bottom: 10px;
}

.services-list {
	display: flex;
	flex-direction: column;
	row-gap: 100px;
}

.services-list li {
	position: relative;
}

.services-list li::before {
	content: '';
	width: 25px;
	height: 100%;
	background-image: url("data:image/svg+xml,%3Csvg width='50' height='423' viewBox='0 0 50 423' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_53_503)'%3E%3Ccircle cx='25' cy='25' r='10' fill='%232958FF'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f_53_503)'%3E%3Ccircle cx='25' cy='25' r='10' fill='%232958FF'/%3E%3C/g%3E%3Cg filter='url(%23filter2_f_53_503)'%3E%3Ccircle cx='25' cy='25' r='5' fill='white' fill-opacity='0.7'/%3E%3C/g%3E%3Cline x1='25.5' y1='45' x2='25.5' y2='423' stroke='url(%23paint0_linear_53_503)'/%3E%3Cdefs%3E%3Cfilter id='filter0_f_53_503' x='0' y='0' width='50' height='50' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='7.5' result='effect1_foregroundBlur_53_503'/%3E%3C/filter%3E%3Cfilter id='filter1_f_53_503' x='0' y='0' width='50' height='50' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='7.5' result='effect1_foregroundBlur_53_503'/%3E%3C/filter%3E%3Cfilter id='filter2_f_53_503' x='15' y='15' width='20' height='20' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='2.5' result='effect1_foregroundBlur_53_503'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_53_503' x1='25' y1='45' x2='25' y2='423' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300A5FC' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2300A5FC'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: absolute;
	top: 50%;
	left: 100px;
}

/* services-sec-ends */

/* partners-sec-starts */
/* .partners-sec-wrap */

.partners-slider {
	border-radius: 100px;
	overflow: hidden;
}

.partners-slider .swiper-slide {
	width: 180px;
}

.partners-slider .swiper-slide .img-box img {
	filter: grayscale(100%) blur(1px);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.partners-slider .swiper-slide .img-box img:is(:hover, :focus, :active) {
	filter: grayscale(0) blur(0);
}

.partners-slider .swiper-wrapper,
.testimonial-slider .swiper-wrapper {
	-webkit-transform-style: preserve-3d;
	transition-timing-function: linear !important;
}

/* partners-sec-ends */

/* why-choose-us-starts */
.why-choose-us-wrap {
	position: relative;
}

.why-choose-us-wrap::after {
	content: '';
	width: 100%;
	max-width: 700px;
	z-index: -1;
	height: 400px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url('../images/icons/connections-vector.svg') no-repeat center
		center;
	background-size: contain;
}

.why-choose-us-content .why-choose-us-left {
	max-width: 490px;
}

.why-choose-us-content .why-choose-us-left .subtitle {
	margin-bottom: 20px;
}

.why-choose-us-content .why-choose-us-right {
	max-width: 540px;
	padding: 30px;
	border-radius: 20px;
	margin-right: 0;
	margin-left: auto;
}

.feature-list {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	margin: 30px 0;
}

.feature-list li {
	padding-left: 60px;
	position: relative;
	font-size: 20px;
	line-height: 1.5;
	color: var(--white);
}

.feature-list li::before {
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='30' height='30' rx='5' fill='%2300CD46'/%3E%3Cpath d='M22.1515 9.9517C21.6874 9.48698 20.9337 9.48727 20.469 9.9517L12.8968 17.5242L9.53129 14.1587C9.06656 13.694 8.31326 13.694 7.84854 14.1587C7.38382 14.6234 7.38382 15.3767 7.84854 15.8415L12.0553 20.0482C12.2875 20.2804 12.592 20.3968 12.8965 20.3968C13.201 20.3968 13.5058 20.2807 13.738 20.0482L22.1515 11.6344C22.6162 11.17 22.6162 10.4164 22.1515 9.9517Z' fill='white'/%3E%3C/svg%3E%0A");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.number-list {
	row-gap: 50px;
	margin-top: 60px;
}

.number-list .num {
	font-size: 50px;
	line-height: 1.2;
	color: var(--blackv2);
	font-weight: 700;
}

.number-list .info-txt {
	color: var(--teal);
	font-weight: 500;
}

/* why-choose-us-ends */

/* multiple-client-sec-starts */
.clients-slider-wrap {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 208px 0;
}

.clients-slider-wrap .container {
	max-width: 1224px;
}

.clients-slider-wrap .slider-rev {
	direction: rtl;
}

/* multiple-client-sec-ends */

/* swiper-slider-starts */

.swiper-slider .custom-nav .swiper-button {
	width: 52px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #1697d2;
	color: #1697d2;
	border-radius: 100px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.swiper-slider .custom-nav {
	padding-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slider .custom-nav > div:not(:last-child) {
	margin-right: 30px;
}

.swiper-slider .custom-nav .swiper-button:hover,
.swiper-slider .custom-nav .swiper-button:focus {
	background-color: #1697d2;
	color: #fff;
}

.swiper-slider .custom-nav .swiper-button:active {
	color: #fff;
	background-color: #1390ca;
}

.clients-slider-wrap .slider-rev {
	padding-top: 12px;
}

/* swiper-slider-ends */

/* clients-slider-starts */

.clients-slider-wrap .clients-slider .card {
	text-align: center;
	width: 100%;
	height: 291px;
	display: grid;
	place-items: center;
	padding: 10px;
	background-color: #fafafa;
	border: none;
	border-radius: 5px;
}

.clients-slider .swiper-slide {
	width: 337px;
}

.clients-slider .swiper-wrapper {
	-webkit-transform-style: preserve-3d;
	transition-timing-function: linear !important;
}

/* clients-slider-ends */

/* testimonial-slider-starts */

.testimonial-wrap {
	position: relative;
	padding: 225px 0;
}

.testimonial-wrap .heading-box {
	height: calc(100% - 200px);
	max-width: 28%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--teal);
	border-radius: 0 40px 40px 0;
	color: var(--white);
	position: absolute;
	left: 0;
	top: 80px;
	z-index: 2;
}

.testimonial-wrap .heading-box .title {
	color: var(--white);
	text-align: center;
	padding: 15px;
}

.testimonial-slider .swiper-slide {
	width: 500px;
}

.testimonial-slider .swiper-slide {
	padding: 50px 30px;
	background-color: #fcfbfa;
	border-radius: 10px;
}

.testimonial-slider .swiper-slide .desc {
	color: var(--blackv2);
	position: relative;
}

.testimonial-slider .swiper-slide .desc::before {
	content: '';
	width: 30px;
	height: 22px;
	background-image: url("data:image/svg+xml,%3Csvg width='30' height='22' viewBox='0 0 30 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.703 22C4.68665 22 3.05177 21.3016 1.79837 19.9048C0.599455 18.4542 0 16.5739 0 14.2637C0 11.2552 0.899183 8.46154 2.69755 5.88278C4.49591 3.2503 6.73024 1.28938 9.40054 0L9.89101 0.96703C8.74659 1.82662 7.73842 2.92796 6.86649 4.27106C5.99455 5.61416 5.36785 7.27961 4.98638 9.2674L6.703 9.67033C8.61035 10.1001 10.0817 10.906 11.1172 12.0879C12.2071 13.2161 12.752 14.5861 12.752 16.1978C12.752 17.917 12.1526 19.3138 10.9537 20.3883C9.80926 21.4628 8.39237 22 6.703 22ZM23.951 22C21.9346 22 20.2997 21.3016 19.0463 19.9048C17.8474 18.4542 17.248 16.5739 17.248 14.2637C17.248 11.2552 18.1471 8.46154 19.9455 5.88278C21.7439 3.2503 23.9782 1.28938 26.6485 0L27.139 0.96703C25.9946 1.82662 24.9864 2.92796 24.1144 4.27106C23.2425 5.61416 22.6158 7.27961 22.2343 9.2674L23.951 9.67033C25.8583 10.1001 27.3297 10.906 28.3651 12.0879C29.455 13.2161 30 14.5861 30 16.1978C30 17.917 29.4005 19.3138 28.2016 20.3883C27.0572 21.4628 25.6403 22 23.951 22Z' fill='%233846A6'/%3E%3C/svg%3E%0A");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	margin-bottom: 20px;
}

.testimonial-slider .swiper-slide .name {
	font-weight: 700;
	margin-top: 20px;
	color: var(--secondary);
}

.testimonial-slider .swiper-slide .designation {
	font-size: 15px;
	line-height: 1.2;
	margin-top: 5px;
	color: var(--secondary);
}

.testimonial-slider .card .title-group {
	display: flex;
	justify-content: space-between;
}

.testimonial-slider .card .desc {
	padding-top: 12px;
}

.testimonial-slider .card .title-group .name {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.56;
	padding-bottom: 1px;
}

.testimonial-slider .card .title-group .designation {
	font-weight: 600;
	font-size: 14px;
	line-height: 2;
	color: #506884;
}

/* testimonial-slider-ends */

/* cta-sec-wrap-starts */

.cta-sec-wrap .content {
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	padding: 100px;
}

.cta-sec-wrap .content .title {
	color: #fff;
	max-width: 280px;
}

.cta-sec-wrap .content .title .highlight {
	color: #00e24d;
}

/* cta-sec-wrap-ends */

/* cta-sec-starts */
.subscriber-form .form-group {
	display: flex;
	align-items: center;
	position: relative;
}

.subscriber-form .form-group .form-control {
	font-size: 20px;
	line-height: 1.2;
	border: 0;
	border-bottom: 1px solid var(--white);
	background: transparent;
	border-radius: 10px;
	color: var(--white);
	padding: 20px 300px 20px 30px;
	height: auto;
}

.subscriber-form .form-group .form-control:placeholder-shown,
.subscriber-form .form-group .form-control::placeholder {
	color: var(--white);
}

.subscriber-form .form-group .form-control:focus,
.subscriber-form .form-group .form-control:active {
	border-color: var(--ternary) !important;
}

.subscriber-form .btn-wrap {
	position: absolute;
	right: 10px;
	top: -10px;
}

/* cta-sec-ends */

/* blog-listing-starts */
.blog-listing .card {
	border: 0;
	overflow: hidden;
	border-radius: 0;
}

.blog-listing .card .img {
	overflow: hidden;
}

.blog-listing .card .img img {
	transition: all 0.3s ease-in-out;
}

.blog-listing .card:is(:hover, :focus, :active) .img img {
	transform: scale(1.2);
}

.blog-listing .card .info {
	margin-top: 30px;
}

.blog-listing .card .info .blog-title {
	margin-top: 10px;
}

.blog-listing .card .info .blog-title a {
	color: var(--blackv2);
}

.blog-listing .card .info ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.blog-listing .card .info ul li:not(:last-child)::after {
	content: '';
	width: 5px;
	height: 5px;
	display: inline-flex;
	border-radius: 100%;
	background-color: var(--teal);
	margin: 0 10px;
}

.blog-listing .card .info ul li,
.blog-listing .card .info ul li a {
	font-size: 12px;
	line-height: 1.2;
	color: var(--blackv2);
}

.blog-listing .card .info ul li a,
.blog-listing .card .info .blog-title a {
	transition: all 0.3s ease-in-out;
}

.blog-listing .card .info ul li a:is(:hover, :focus, :active),
.blog-listing .card .info .blog-title a:is(:hover, :focus, :active) {
	color: var(--primary);
}

.blog-listing {
	row-gap: 70px;
}

/* blog-listing-ends */

/* blog-details-starts */
.blog-details-featured-img .img-box img {
	width: 100%;
}

.blog-details-banner-wrap .container {
	max-width: 1430px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e2e8f0;
}

.blog-details-banner-wrap .container .content {
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
}

.blog-details-banner-wrap .content .category {
	font-size: 14px;
	line-height: 1.1;
	color: var(--primary);
	font-weight: 500;
	margin-bottom: 20px;
}

.blog-details-banner-wrap .bl-more-info {
	margin-top: 20px;
}

.blog-details-banner-wrap .bl-more-info ul {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.blog-details-banner-wrap .bl-more-info li,
.blog-details-banner-wrap .bl-more-info li a {
	font-size: 12px;
	line-height: 1.1;
	color: var(--teal);
}

.blog-details-banner-wrap .bl-more-info li a {
	color: var(--primary);
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}

.blog-details-banner-wrap .bl-more-info li a:is(:hover, :focus, :active) {
	color: var(--teal);
}

.blog-details-banner-wrap .bl-more-info li:not(:last-child)::after {
	content: '';
	width: 1px;
	height: 10px;
	margin: 0 12px;
	display: inline-block;
	background-color: var(--teal);
}

.blog-details-content-wrap {
	padding-top: 30px;
}

.blog-details-content-wrap .share-this {
	margin: 40px 0;
}

.blog-details-content-wrap .share-this .social-listing {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 20px;
}

.blog-details-content-wrap .share-this .social-listing li a {
	width: 45px;
	height: 45px;
	border-radius: 0;
	background: var(--whitev2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--secondary);
	transition: all 0.3s ease-in-out;
}

.blog-details-content-wrap
	.share-this
	.social-listing
	li
	a:is(:hover, :focus, :active) {
	background: var(--secondary);
	color: var(--whitev2);
}

.blog-details-content-wrap .content-wrapper h1,
.blog-details-content-wrap .content-wrapper h2,
.blog-details-content-wrap .content-wrapper h3,
.blog-details-content-wrap .content-wrapper h4,
.blog-details-content-wrap .content-wrapper h5,
.blog-details-content-wrap .content-wrapper h6 {
	font-weight: 700;
	margin-bottom: 20px;
}

.blog-details-content-wrap ol {
	counter-reset: olCounter;
}

.blog-details-content-wrap ol li {
	counter-increment: olCounter;
	padding-left: 24px;
	position: relative;
}

.blog-details-content-wrap ol li::before {
	content: counter(olCounter) '. ';
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	color: var(--primary);
	position: absolute;
	top: 0;
	left: 0;
}

.blog-details-content-wrap ol li:not(:last-child) {
	margin-bottom: 16px;
}

.toc-wrap .toc-links {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	row-gap: 20px;
}

.toc-wrap .toc-links li a {
	font-size: 15px;
	line-height: 1.1;
	color: var(--secondary);
	font-weight: 500;
	transition: all 0.3s ease-in-out;
}

.toc-wrap .toc-links li a:is(:hover, :focus, :active) {
	text-decoration: underline;
	color: var(--primary);
}

/* blog-details-ends */

/* growth-with-optl-starts */

.growth-with-optl-wrap .img-box {
	margin-top: 100px;
}

/* growth-with-optl-ends */

/* why-choose-v2-starts */

.why-choose-v2 .content {
	position: relative;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.why-choose-v2 .card-listing .card {
	border-radius: 10px;
	max-width: 235px;
	padding: 40px 20px;
	border: 0;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%);
	min-height: 240px;
	transition: all 1s ease-in-out;
	transition-delay: 0.3s;
}

.why-choose-v2.aos-animate .card-1 {
	top: 5%;
	left: 10%;
}

.why-choose-v2.aos-animate .card-2 {
	top: 5%;
}

.why-choose-v2.aos-animate .card-3 {
	top: 5%;
	left: 80%;
}

.why-choose-v2.aos-animate .card-4 {
	top: 50%;
	left: 10%;
}

.why-choose-v2.aos-animate .card-5 {
	top: 50%;
	left: 80%;
}

.why-choose-v2 .card-listing .card.card-1 {
	background-color: var(--whitev2);
}

.why-choose-v2 .card-listing .card.card-2 {
	background-color: var(--ternary);
}

.why-choose-v2 .card-listing .card.card-3 {
	background-color: #e87c46;
}

.why-choose-v2 .card-listing .card.card-3 .num,
.why-choose-v2 .card-listing .card.card-3 .desc,
.why-choose-v2 .card-listing .card.card-4 .num,
.why-choose-v2 .card-listing .card.card-4 .desc,
.why-choose-v2 .card-listing .card.card-5 .num,
.why-choose-v2 .card-listing .card.card-5 .desc {
	color: var(--white);
}

.why-choose-v2 .card-listing .card.card-4 {
	background-color: var(--teal);
}

.why-choose-v2 .card-listing .card.card-5 {
	background-color: var(--primary);
}

.why-choose-v2 .card-listing .card .num {
	color: var(--secondary);
	margin-bottom: 10px;
}
.why-choose-v2 .card-listing .card .desc {
	color: var(--blackv2);
}

/* why-choose-v2-ends */

/* team-sec-starts */
.team-wrap .sec-title {
	margin-bottom: 60px;
}

.team-slider .team-box .img {
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}

.team-slider .team-box .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team-slider .team-box .name {
	font-weight: 700;
	color: var(--blackv2);
	margin-bottom: 10px;
}

.team-slider .team-box .designation {
	color: var(--secondary);
}

/* team-sec-ends */

/* leads-form-starts */
.leads-form-wrap .title-box {
	margin-bottom: 70px;
}

.leads-form .row {
	row-gap: 40px;
}

/* leads-form-ends */

/* service-banner-starts */
.service-banner-wrap {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-banner-wrap::after {
	content: '';
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	background: -webkit-linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
	position: absolute;
	top: 0;
	left: 0;
}

.service-banner-wrap .container {
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.service-banner-wrap .container .content {
	position: relative;
	z-index: 2;
	text-align: center;
	padding-bottom: 100px;
}

.service-banner-wrap .container .content .title {
	color: var(--white);
}

/* service-banner-ends */

/* service-value-starts */
.service-value-wrap .value-listing {
	row-gap: 80px;
	margin-top: 30px;
}

.service-value-wrap .value-listing .box .value-name {
	margin-bottom: 20px;
	margin-top: 20px;
	color: var(--secondary);
	text-transform: capitalize;
}

/* service-value-ends */

/* blog-listing-starts */

.search-blog-wrap {
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.search-blog-wrap .form-control {
	background-color: #f9fafc;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
	border-color: transparent;
	padding: 15px 25px;
}

.search-blog-wrap .form-control:is(:focus, :active) {
	border-color: var(--primary);
}

.category-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 30px;
	margin-top: 20px;
}

.category-wrap .category-listing {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.category-wrap .category-listing a {
	display: inline-block;
	font-size: 15px;
	line-height: 1.1;
	font-weight: 500;
	border: 1px solid var(--secondary);
	background-color: transparent;
	color: var(--secondary);
	padding: 10px 20px;
	border-radius: 70px;
	transition: all 0.3s ease-in-out;
}

.category-wrap .category-listing a.active,
.category-wrap .category-listing a:is(:hover, :focus, :active) {
	color: var(--white);
	background-color: var(--secondary);
}

/* blog-listing-ends */

/* footer-sec-starts */
.footer-wrap {
	padding: 150px 0 35px;
	background: url('../images/banner-bg.png') no-repeat center center;
	background-size: cover;
}

.footer-wrap .title-box {
	max-width: 700px;
	margin: 0 auto;
	justify-content: space-between;
	position: relative;
	align-items: center;
}

.footer-wrap .title-box::before {
	content: '';
	width: 125px;
	height: 14px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -200px;
	background: url('../images/footer-shape-left.png') no-repeat center center;
	background-size: cover;
}

.footer-wrap .title-box::after {
	content: '';
	width: 125px;
	height: 14px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -200px;
	background: url('../images/footer-shape-right.png') no-repeat center center;
	background-size: cover;
}

.footer-wrap .title-box .title {
	max-width: 360px;
	color: var(--white);
	position: relative;
}

.footer-wrap .footer-title {
	color: var(--white);
	margin-bottom: 20px;
	font-weight: 700;
}

.footer-wrap a {
	color: var(--white);
}

.footer-wrap .footer-bottom {
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
	border-bottom: 1px solid var(--whitev2);
	margin: 0 -15px;
}

.footer-wrap .footer-bottom .footer-left {
	max-width: 500px;
	padding: 0 15px;
}

.footer-wrap .footer-bottom .footer-left .address {
	max-width: 370px;
	margin-bottom: 40px;
}

.footer-wrap .text {
	color: var(--white);
	font-size: 15px;
	line-height: 1.2;
}

.footer-wrap .copyright {
	padding-top: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	color: var(--whitev2);
	font-size: 13px;
	line-height: 1.1;
	font-weight: 500;
}

.footer-wrap .copyright span a {
	color: var(--ternary);
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}

.footer-wrap .copyright span a:is(:hover, :focus, :active) {
	color: var(--whitev2);
}

.footer-bottom .footer-right {
	max-width: 570px;
	padding: 0 15px;
}

.footer-menu-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 30px;
	margin: 0 -7px;
}

.footer-menu-links > li {
	width: 50%;
	padding: 0 7px;
}

.footer-menu-links > li > a {
	color: var(--whitev2);
	font-size: 18px;
	line-height: 1.1;
	transition: all 0.3s ease-in-out;
}

.footer-menu-links > li > a:is(:hover, :focus, :active) {
	color: var(--ternary);
}

.footer-wrap .cp-links {
	display: flex;
	align-items: center;
}

.footer-wrap .cp-links li {
	position: relative;
}

.footer-wrap .cp-links li:not(:last-child)::after {
	content: '';
	width: 2px;
	height: 14px;
	position: relative;
	display: inline-block;
	background-color: var(--white);
	margin: 0 14px;
	top: 3px;
}

.footer-wrap .cp-links li a {
	color: var(--white);
	font-size: 13px;
	line-height: 1.1;
	font-weight: 500;
	transition: all 0.3s ease-in-out;
}

.footer-wrap .cp-links li a:is(:hover, :focus, :active) {
	color: var(--ternary);
}

.footer-wrap .footer-link {
	color: var(--white);
	transition: all 0.3s ease-in-out;
	font-size: 18px;
	line-height: 1.2;
}

.footer-wrap .footer-link:is(:hover, :focus, :active) {
	color: var(--ternary);
}

/* footer-sec-ends */
